body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar {
  width: 25%; /* Adjust the width as needed */
  height: 100vh; /* Extend the height to cover the entire viewport */
  position: fixed; /* Fix the sidebar position */
  top: 0;
  left: 0;
  background-color: #f8f9fa; /* Background color */
  padding: 20px; /* Padding inside the sidebar */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.main-content {
  margin-left: 25%; /* Adjust the margin to match the sidebar width */
  padding: 20px; /* Padding inside the main content */
  overflow-y: auto;
}


.sidebar .list-group-item {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.sidebar .list-group-item:hover {
  background-color: #f8f9fa;
  font-weight: bold;
}

.main-dashboard .card {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}